<div class="content-box">
    <table width="100%">
        <tr id="final_title">
            <th>Title:</th>
            <td class="word"></td>
        </tr>
        <tr id="final_description">
            <th>Description:</th>
            <td class="word"></td>
        </tr>
        <tr id="final_where">
            <th>Where/How:</th>
            <td class="word"></td>
        </tr>
        <tr id="final_times">
            <th>Times:</th>
            <td class="word"></td>
        </tr>
        <tr id="final_invites">
            <th>Invites:</th>
            <td class="word"></td>
        </tr>

    </table>
</div>

<div class="button-box" id="step3btn">
    <button type="button" class="u-btn u-button-style u-palette-3-base u-btn-1" id="getStart">&#10004; FINALIZE POLL 
        <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div></button>
</div>