<!-- <div class="content-box" id="invite">
    <div class="content-header">
        Invite Type
    </div>
    <hr style="margin: 0px 10px 0px 10px;">
    <div class="content-body">
        <a class="u-btn u-button-style u-palette-3-base u-btn-1" id="bestBtn">Poll for Best Options</a>
        <input type="radio" value="1" name="poll"> Poll for best time <br>
        <input type="radio" value="2" name="poll"> Poll for best place or call method <br>
        <input type="radio" value="3" name="poll"> Poll for best time and place
        <br>
    </div>
</div> -->

<div class="content-box" id="poll">
    <div class="content-header">
        Poll Response Options
    </div>
    <hr style="margin: 0px 10px 0px 10px;">
    <div class="content-body">
        <p>How should participants rate each poll option?</p>
        <div class="row">
            <div class="column-3">
                <h4 style="text-align:center">Yes or No</h4>
                <div class="row">
                    <div class="column-half">
                        <div class="rcorners">
                            <span style="padding-left: 30%;color:#00E676;">&#10004</span>
                        </div>
                        <p style="text-align: center;">Available</p>
                    </div>
                    <div class="column-half">
                        <div class="rcorners">
                            <span style="padding-left: 30%;color:#FF5722;">x</span>
                        </div>
                        <p style="text-align: center;">Unavailable</p>
                    </div>
                </div>
                <a class="u-btn u-button-style u-palette-3-base u-btn-1 pollbutton" style="margin:auto;" id="pollBtn1">Select</a>
            </div>
            <div class="column-7">
                <h4 style="text-align:center">Allow Maybes</h4>
                <div class="row">
                    <div class="column-quater">
                        <div class="rcorners">
                            <i class="material-icons" style="padding-left: 30%;color:#00E676;">sentiment_very_satisfied</i>
                        </div>
                        <p style="text-align: center;">Great</p>
                    </div>
                    <div class="column-quater">
                        <div class="rcorners">
                            <i class="material-icons" style="padding-left: 30%;color:#00b8d4;">sentiment_satisfied</i>
                        </div>
                        <p style="text-align: center;">OK</p>
                    </div>
                    <div class="column-quater">
                        <div class="rcorners">
                            <i class="material-icons" style="padding-left: 30%;color:#FF9800;">sentiment_dissatisfied</i>
                        </div>
                        <p style="text-align: center;">Maybe Not</p>
                    </div>
                    <div class="column-quater">
                        <div class="rcorners">
                            <i class="material-icons" style="padding-left: 30%;color:#FF5722;">sentiment_very_dissatisfied</i>
                        </div>
                        <p style="text-align: center;">Nope</p>
                    </div>
                </div>
                <a class="u-btn u-button-style u-palette-3-base u-btn-1 pollbutton" style="margin:auto;" id="pollBtn2">Select</a>
            </div>
        </div>
    </div>
</div>

<div class="content-box" id="title">
    <div class="content-header">
        Title & Location & Description
    </div>
    <hr style="margin: 0px 10px 0px 10px;">
    <div class="content-body">
        <p><input type="text" name="title" placeholder="Event Name"></p>
        <p><input type="text" name="location" placeholder="Event Location"></p>
        <p><textarea name="description" id="" cols="30" rows="10" placeholder="Description fo event"></textarea></p>
    </div>
</div>

<div class="button-box" id="step1btn">
    <button type="button" class="u-btn u-button-style u-palette-3-base u-btn-1" id="getStart">CONTINUE: RECIPIENTS &gt;</button>
</div>