<div class="content-box" id="invite_people">
    <div class="content-header">
        Invite People{% if not login %} (Please insert your email also) {% endif %}*
    </div>
    <hr style="margin: 0px 10px 0px 10px;">
    <div class="content-body" style="text-align:center">
        <p id="noInvite">No invitees added yet</p>

        <div id="invitePeople">

        </div>

        <input type="email" value="qianfu1999@gmail.com" name="participant" placeholder="+ add an email address"> <button type="button" id="addEmail">+</button><br>
    </div>
</div>

<div class="content-box" id="title">
    <div class="content-header">
        Settings
    </div>
    <hr style="margin: 0px 10px 0px 10px;">
    <div class="content-body">
        <div class="row">
            <div class="column-half">
                <p><label for="Title">Title *</label><br><input type="text" name="title" placeholder="Event Name"></p>
                <p><label for="Location">Location *</label><br><input type="text" id="location" name="location" placeholder="Event Location"></p>
                <p><label for="Description">Description *</label><br><textarea name="description" id="" cols="30" rows="10" placeholder="Description fo event"></textarea></p>
            </div>
            <div class="column-half">
                <h4>Recommand Time (Optional)</h4>
                <ol id="recommandTime">
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="calendar" style="margin-top: 30px;margin-bottom: 30px;" id="recommandCalendar">

    <div class="outer">
        <div class="content-header">
            For your reference
        </div>
        <div class="wrap">
            <table class="offset calendar-table" id="displaycalendar">
                <thead>
                    <tr>
                        <th></th>
                        {% for key, value in week.items %}
                        <th>{{ value }}<br>{{ key }}</th>
                        {% endfor %}
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="headcol"></td>
                        <td style="border-right-color:white;"></td>
                        <td style="border-right-color:white;"></td>
                        <td style="border-right-color:white;"></td>
                        <td style="border-right-color:white;"></td>
                        <td style="border-right-color:white;"></td>
                        <td style="border-right-color:white;"></td>
                        <td style="border-right-color:white;"></td>
                        <td class="headcol"></td>
                    </tr>
                    {% for time in time_range %}
                    <tr>
                        <td class="headcol"><span style="margin-top: -15px;position: absolute;">{{ time }}</span></td>
                        <td class="contentcol2"></td>
                        <td class="contentcol2"></td>
                        <td class="contentcol2"></td>
                        <td class="contentcol2"></td>
                        <td class="contentcol2"></td>
                        <td class="contentcol2"></td>
                        <td class="contentcol2"></td>
                        <td class="headcol"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="button-box" id="step1btn">
    <button type="button" class="u-btn u-button-style u-palette-3-base u-btn-1" id="getStart">Next: When &rarr;</button>
</div>

<!-- <div class="button-box" id="step1btn">
    <button type="button" class="u-btn u-button-style u-palette-3-base u-btn-1" id="getStart">CONTINUE: RECIPIENTS
        &gt;</button>
</div> -->