<div class="row">
    <div class="column-3">
        <div class="content-box" id="final_title">
            <div class="content-header">
                Title
            </div>
            <div class="content-body">

            </div>
        </div>
    </div>
    <div class="column-3">
        <div class="content-box" id="final_description">
            <div class="content-header">
                Description
            </div>
            <div class="content-body">

            </div>
        </div>
    </div>
    <div class="column-3">
        <div class="content-box" id="final_where">
            <div class="content-header">
                Where/How
            </div>
            <div class="content-body">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="column-3">
        <div class="content-box" id="final_times">
            <div class="content-header">
                Times
            </div>
            <div class="content-body">

            </div>
        </div>
    </div>
    <div class="column-3">
        <div class="content-box" id="final_invites">
            <div class="content-header">
                Invites
            </div>
            <div class="content-body">

            </div>
        </div>
    </div>
    <div class="column-3">
        <div class="content-box" id="final_poll">
            <div class="content-header">
                Poll
            </div>
            <div class="content-body">

            </div>
        </div>
    </div>
</div>

<div class="button-box" id="step4btn">
    <button type="button" class="u-btn u-button-style u-palette-3-base u-btn-1" id="getStart">&#10004; FINALIZE POLL</button>
</div>