<div class="content-box" id="invite_people">
    <div class="content-body" style="text-align:center">
        <p>No invitees added yet</p>

        <div id="invitePeople">

        </div>

        <input type="email" value="qianfu1999@gmail.com" name="participant" placeholder="+ add an email address"> <button type="button" id="addEmail">+</button><br>
        <!-- <br><br>
        <input type="radio" value="1" name="who_poll" checked="true">Open (anyone with the link can take the poll) <br>
        <input type="radio" value="2" name="who_poll">Closed (only people I added can take the poll)
        <br> -->
    </div>
</div>

<div class="button-box" id="step2btn">
    <button type="button" class="u-btn u-button-style u-palette-3-base u-btn-1" id="getStart">Next: When &rarr;</button>
</div>