<div class="content-box" id="when" style="max-width:90% !important">
    <div class="content-header" style="background-color:#eceff1;text-align:
        center;">
        Suggest times on the calendar below:
    </div>
    <!-- <div class="content-body">
        <table style="width: 100%;">
            <tr>
                <td>
                    Duration: <span id="duration">1hrs&nbsp;&#8616;</span>
                    <div class="duration" id="durationSelection" duration_type="part_day" style="display: none;">
                        <div class="meeting_duration_selector_all_vs_part_day">
                            <span class="meeting_duration_selector_all_part_option" duration_type="part_day" is_selected="t">
                                Part Day
                            </span><span class="duration_type_divider">&nbsp;</span><span class="meeting_duration_selector_all_part_option" duration_type="all_day" is_selected="f">
                                All Day
                            </span>
                        </div>
                        <div class="meeting_duration_selector_options" duration_type="part_day">
                            <div class="duration_option" duration="15" unit="minutes">15 minutes</div>
                            <div class="duration_option" duration="30" unit="minutes">30 minutes</div>
                            <div class="duration_option" duration="45" unit="minutes">45 minutes</div>
                            <div class="duration_option" duration="60" unit="minutes">1 hr</div>
                            <div class="duration_option" duration="75" unit="minutes">1 hr 15 minutes</div>
                            <div class="duration_option" duration="90" unit="minutes">1 hr 30 minutes</div>
                            <div class="duration_option" duration="105" unit="minutes">1 hr 45 minutes</div>
                            <div class="duration_option" duration="120" unit="minutes">2 hrs</div>
                            <div class="duration_option" duration="135" unit="minutes">2 hrs 15 minutes</div>
                            <div class="duration_option" duration="150" unit="minutes">2 hrs 30 minutes</div>
                            <div class="duration_option" duration="165" unit="minutes">2 hrs 45 minutes</div>
                            <div class="duration_option" duration="180" unit="minutes">3 hrs</div>
                            <div class="duration_option" duration="195" unit="minutes">3 hrs 15 minutes</div>
                            <div class="duration_option" duration="210" unit="minutes">3 hrs 30 minutes</div>
                            <div class="duration_option" duration="225" unit="minutes">3 hrs 45 minutes</div>
                            <div class="duration_option" duration="240" unit="minutes">4 hrs</div>
                            <div class="duration_option" duration="255" unit="minutes">4 hrs 15 minutes</div>
                            <div class="duration_option" duration="270" unit="minutes">4 hrs 30 minutes</div>
                            <div class="duration_option" duration="285" unit="minutes">4 hrs 45 minutes</div>
                            <div class="duration_option" duration="300" unit="minutes">5 hrs</div>
                            <div class="duration_option" duration="315" unit="minutes">5 hrs 15 minutes</div>
                            <div class="duration_option" duration="330" unit="minutes">5 hrs 30 minutes</div>
                            <div class="duration_option" duration="345" unit="minutes">5 hrs 45 minutes</div>
                            <div class="duration_option" duration="360" unit="minutes">6 hrs</div>
                            <div class="duration_option" duration="375" unit="minutes">6 hrs 15 minutes</div>
                            <div class="duration_option" duration="390" unit="minutes">6 hrs 30 minutes</div>
                            <div class="duration_option" duration="405" unit="minutes">6 hrs 45 minutes</div>
                            <div class="duration_option" duration="420" unit="minutes">7 hrs</div>
                            <div class="duration_option" duration="435" unit="minutes">7 hrs 15 minutes</div>
                            <div class="duration_option" duration="450" unit="minutes">7 hrs 30 minutes</div>
                            <div class="duration_option" duration="465" unit="minutes">7 hrs 45 minutes</div>
                            <div class="duration_option" duration="480" unit="minutes">8 hrs</div>
                            <div class="duration_option" duration="495" unit="minutes">8 hrs 15 minutes</div>
                            <div class="duration_option" duration="510" unit="minutes">8 hrs 30 minutes</div>
                            <div class="duration_option" duration="525" unit="minutes">8 hrs 45 minutes</div>
                            <div class="duration_option" duration="540" unit="minutes">9 hrs</div>
                            <div class="duration_option" duration="555" unit="minutes">9 hrs 15 minutes</div>
                            <div class="duration_option" duration="570" unit="minutes">9 hrs 30 minutes</div>
                            <div class="duration_option" duration="585" unit="minutes">9 hrs 45 minutes</div>
                            <div class="duration_option" duration="600" unit="minutes">10 hrs</div>
                            <div class="duration_option" duration="615" unit="minutes">10 hrs 15 minutes</div>
                            <div class="duration_option" duration="630" unit="minutes">10 hrs 30 minutes</div>
                            <div class="duration_option" duration="645" unit="minutes">10 hrs 45 minutes</div>
                            <div class="duration_option" duration="660" unit="minutes">11 hrs</div>
                            <div class="duration_option" duration="675" unit="minutes">11 hrs 15 minutes</div>
                            <div class="duration_option" duration="690" unit="minutes">11 hrs 30 minutes</div>
                            <div class="duration_option" duration="705" unit="minutes">11 hrs 45 minutes</div>
                            <div class="duration_option" duration="720" unit="minutes">12 hrs</div>
                            <div class="duration_option" duration="735" unit="minutes">12 hrs 15 minutes</div>
                            <div class="duration_option" duration="750" unit="minutes">12 hrs 30 minutes</div>
                            <div class="duration_option" duration="765" unit="minutes">12 hrs 45 minutes</div>
                            <div class="duration_option" duration="780" unit="minutes">13 hrs</div>
                            <div class="duration_option" duration="795" unit="minutes">13 hrs 15 minutes</div>
                            <div class="duration_option" duration="810" unit="minutes">13 hrs 30 minutes</div>
                            <div class="duration_option" duration="825" unit="minutes">13 hrs 45 minutes</div>
                            <div class="duration_option" duration="840" unit="minutes">14 hrs</div>
                            <div class="duration_option" duration="855" unit="minutes">14 hrs 15 minutes</div>
                            <div class="duration_option" duration="870" unit="minutes">14 hrs 30 minutes</div>
                            <div class="duration_option" duration="885" unit="minutes">14 hrs 45 minutes</div>
                            <div class="duration_option" duration="900" unit="minutes">15 hrs</div>
                            <div class="duration_option" duration="915" unit="minutes">15 hrs 15 minutes</div>
                            <div class="duration_option" duration="930" unit="minutes">15 hrs 30 minutes</div>
                            <div class="duration_option" duration="945" unit="minutes">15 hrs 45 minutes</div>
                            <div class="duration_option" duration="960" unit="minutes">16 hrs</div>
                            <div class="duration_option" duration="975" unit="minutes">16 hrs 15 minutes</div>
                            <div class="duration_option" duration="990" unit="minutes">16 hrs 30 minutes</div>
                            <div class="duration_option" duration="1005" unit="minutes">16 hrs 45 minutes</div>
                            <div class="duration_option" duration="1020" unit="minutes">17 hrs</div>
                            <div class="duration_option" duration="1035" unit="minutes">17 hrs 15 minutes</div>
                            <div class="duration_option" duration="1050" unit="minutes">17 hrs 30 minutes</div>
                            <div class="duration_option" duration="1065" unit="minutes">17 hrs 45 minutes</div>
                            <div class="duration_option" duration="1080" unit="minutes">18 hrs</div>
                            <div class="duration_option" duration="1095" unit="minutes">18 hrs 15 minutes</div>
                            <div class="duration_option" duration="1110" unit="minutes">18 hrs 30 minutes</div>
                            <div class="duration_option" duration="1125" unit="minutes">18 hrs 45 minutes</div>
                            <div class="duration_option" duration="1140" unit="minutes">19 hrs</div>
                            <div class="duration_option" duration="1155" unit="minutes">19 hrs 15 minutes</div>
                            <div class="duration_option" duration="1170" unit="minutes">19 hrs 30 minutes</div>
                            <div class="duration_option" duration="1185" unit="minutes">19 hrs 45 minutes</div>
                            <div class="duration_option" duration="1200" unit="minutes">20 hrs</div>
                            <div class="duration_option" duration="1215" unit="minutes">20 hrs 15 minutes</div>
                            <div class="duration_option" duration="1230" unit="minutes">20 hrs 30 minutes</div>
                            <div class="duration_option" duration="1245" unit="minutes">20 hrs 45 minutes</div>
                            <div class="duration_option" duration="1260" unit="minutes">21 hrs</div>
                            <div class="duration_option" duration="1275" unit="minutes">21 hrs 15 minutes</div>
                            <div class="duration_option" duration="1290" unit="minutes">21 hrs 30 minutes</div>
                            <div class="duration_option" duration="1305" unit="minutes">21 hrs 45 minutes</div>
                            <div class="duration_option" duration="1320" unit="minutes">22 hrs</div>
                            <div class="duration_option" duration="1335" unit="minutes">22 hrs 15 minutes</div>
                            <div class="duration_option" duration="1350" unit="minutes">22 hrs 30 minutes</div>
                            <div class="duration_option" duration="1365" unit="minutes">22 hrs 45 minutes</div>
                            <div class="duration_option" duration="1380" unit="minutes">23 hrs</div>
                            <div class="duration_option" duration="1395" unit="minutes">23 hrs 15 minutes</div>
                            <div class="duration_option" duration="1410" unit="minutes">23 hrs 30 minutes</div>
                            <div class="duration_option" duration="1425" unit="minutes">23 hrs 45 minutes</div>
                            <div class="duration_option" duration="1440" unit="minutes">24 hrs</div>
                        </div>
                        <div class="meeting_duration_selector_options" duration_type="all_day" style="display: none;">
                            <div class="duration_option" duration="1" unit="days">1 day</div>
                            <div class="duration_option" duration="2" unit="days">2 days</div>
                            <div class="duration_option" duration="3" unit="days">3 days</div>
                            <div class="duration_option" duration="4" unit="days">4 days</div>
                            <div class="duration_option" duration="5" unit="days">5 days</div>
                            <div class="duration_option" duration="6" unit="days">6 days</div>
                            <div class="duration_option" duration="7" unit="days">7 days</div>
                            <div class="duration_option" duration="8" unit="days">8 days</div>
                            <div class="duration_option" duration="9" unit="days">9 days</div>
                            <div class="duration_option" duration="10" unit="days">10 days</div>
                            <div class="duration_option" duration="11" unit="days">11 days</div>
                            <div class="duration_option" duration="12" unit="days">12 days</div>
                            <div class="duration_option" duration="13" unit="days">13 days</div>
                            <div class="duration_option" duration="14" unit="days">14 days</div>
                        </div>
                    </div>
                </td>
                <td style="text-align:right;padding-right:10px;">
                    Calendar time zone:
                </td>
            </tr>
            <tr>
                <td>
                    Clock format:
                </td>
                <td style="text-align:right;padding-right:10px;">
                    Recipient time zones:
                </td>
            </tr>
        </table>
    </div> -->
    <div class="main" style="margin-top: 30px;margin-bottom: 30px;">
        <div style="display:flex">
            <div style="flex-grow: 1; margin-left: 10px;margin-right: 10px;">
                <div id="calander"></div>
            </div>
        </div>
    </div>
</div>

<div class="button-box" id="step3btn">
    <button type="button" class="u-btn u-button-style u-palette-3-base u-btn-1" id="getStart">Next: When/How &rarr;</button>
</div>